<section class="section">
  <article class="media">
    <div class="media-content">
        <p>
          <strong class="is-size-1" style="font-family: cursive;"><%=link_to 'らーめんマップ', map_index_path %></strong>
        </p>
      </div>
      <div class="columns is-centered">
        <div class="column">
          <br>
          <div class='column-item'><a class="btn btn-primary" href="/users/sign_in" role="button">ログイン</a></div>
          <br>
          <div class='column-item'><a class="btn btn-primary" href="/users/sign_up" role="button">新規投稿</a></div>
        </div>
      </div>
  </article>
  <br>
  <div class="columns is-centered">
    <div class="column">
      <figure>
        <img src="image1.jpg" class='main-image'>
      </figure>
    </div>
  </div>
</section>