// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#sample { 
    width:100%; 
   height:800px; 
   
}
.btn {
    margin-left: 30px;

}
.container {
    text-align: center;
    margin-top: 40px;

}
.home-index-item {
    display: flex;
    margin-top: 40px;
    
   

}
.flexitem {
    margin-left: 30px;
    font-size: 30px;
    font-family: "Arial Black";
}
.posts-index-image img {
    width: 800px;
}
.modal_container {
    text-align: center;
    margin-top: 40px;
    
}
.card-body {
    font-size: 30px;
}
.map-container {
    display: flex;
}
.scroll img {
  width: 130px;
  height: 100px;
}
.scroll {
    border-bottom: solid 1px black;
}
.scroll p {
    font-size: 20px;
}


